
#chart{
    overflow-y:auto;
    
  }

  
#input {
width: 250px;
}

#chart svg{
max-width: initial;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Jost', sans-serif;
    color: #4D4D4D;
    margin-block-start: 0.4em;
    margin-block-end: 0.27em;
}

h1{
    font-weight: 700;
}

h3{
    font-weight: 600;
}

h4{
    font-weight: 500;
}

p{
    font-weight: 400;
}



.rusia{
    color: #E43D3F;
}

.usa{
    color: #32458A;
}

text, P, label {
    font-family: 'Jost', sans-serif;
    color: #4D4D4D;
}

.cuadrado{
    height: 15px;
    width: 15px;
    background-color: #ABABAB;
}

.legend{
    max-width: 632px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.filtro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    float: right;
}

.container{
    max-width: 640px;
    margin: auto;
    position: relative;
}

.myCheckbox input:checked{
    accent-color: #4D4D4D;
  }

.btn-rojo {
    color: #E43D3F;
    padding: 4px 12px;
    text-decoration: none;
    border: 2.25px solid #E43D3F;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 0px;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #ffffff;
    margin-top: 5px;
}  

.btn-rojo:hover {
    color: #FFFFFF;
    background-color: #E43D3F;
}  

.btn-azul {
    color: #32458A;
    padding: 4px 12px;
    text-decoration: none;
    border: 2.25px solid #32458A;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 0px;
    transition: background-color 0.5s ease, color 0.5s ease;
    background-color: #ffffff;

}

.btn-azul:hover {
    color: #FFFFFF;
    background-color: #32458A
}

.aclaracion{
    max-width: 320px;
    font-size: 10px;;
}

input{
    margin: 0;
}

.ventana-emergente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  .contenido-ventana {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 640px;
  }
  
  .ventana-emergente.mostrar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.ajustar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}  

.foto{
    background-color: #ABABAB;
    width: 100px;
}



